@import 'foundation/functions';
@import 'foundation/components/global';

a:hover {
	font-weight: normal;
	color: $red;
}

b {
	font-weight: 400;
}

h4 {
	margin-top: -8px;
}

p {
	font-size: 77%;
}


