@import
	'foundation/functions',
	'foundation/components/global',
	'foundation/components/breadcrumbs';
	
// RED-BREADCRUMBS

.red-breadcrumbs {
	@include crumb-container;
 	li {
		@include crumbs;
  }
	font-weight: normal;
	a:hover {
		color: $darkred;
	}
}

