@import 'foundation/functions';
@import 'foundation/components/global';
@import 'foundation/components/panels';

// RED-PANELS

.red-panel {
  @include panel(
    $bg: scale-color($white, $lightness: 100%),
		$adjust: false
  );
	width: 230px;
//	@include inset-shadow($active:true);
	& h5 {
		font-size: 1.3rem;
		font-weight: normal;
	}
	& h6 {
		color: $redoffer;
		font-weight: normal;
		margin-bottom: 1rem;
		vertical-align: bottom;
	}
	p.small {
		font-size: 67%;
		line-height: 140%;
	}
}

