@import
	'foundation/functions',
	'foundation/components/global',
	'foundation/components/buttons';

// RED BUTTONS

.red-button {
	@include single-transition(background-color);
	@include button(
		$padding:false,
		$bg:$red,
		$border-color:$darkred,
		$full-width:true,
		$radius:true,
		$disabled:false
	);
	border-width: thin;
	font-weight: 400;
	height: 32px;
	padding-top: 5px;
	position: relative;
	right: 30px;
	top:-5px;
	width: 140%;
}
